html {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: inherit;
}

h4, h2, p {
    margin: 0px;
}

.price-card {
    width: 600px;
    height: 350px;
    border: 4px solid black;
}

.top-section {
    width: 100%;
    height: 40%;
    border: 4px solid green;
}

.bottom-section {
    width: 100%;
    height: 60%;
    border: 4px solid red;
}

.bottom-left-section {
    border: 4px solid orange;
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
}

.bottom-right-section {
    border: 4px solid blue;
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}